<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalNovo">
  Novo Veículo
</button>

<!-- Modal -->
<div id="modalNovo" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Novo Veículo</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <label for="nomeNovoVeiculo" class="form-label">Nome do veículo</label>
        <input type="text" class="form-control mb-3" id="nomeNovoVeiculo" [(ngModel)]="veiculoNovo">
        <label for="marcaNovoVeiculo" class="form-label">Marca</label>
        <input type="text" class="form-control mb-3" id="marcaNovoVeiculo" [(ngModel)]="marcaNovo">
        <label for="anoNovoVeiculo" class="form-label">Ano</label>
        <input type="number" class="form-control mb-3" id="anoNovoVeiculo" [(ngModel)]="anoNovo">
        <label for="descricaoNovoVeiculo" class="form-label">Descrição</label>
        <textarea class="form-control mb-3" id="descricaoNovoVeiculo" rows="3" [(ngModel)]="descricaoNovo"></textarea>
        <input class="form-check-input mb-3" type="checkbox" value="1" id="vendidoNovoVeiculo" [(ngModel)]="vendidoNovo">
        <label class="form-check-label" for="flexCheckDefault">
          Vendido
        </label>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="criarVeiculo()">OK</button>
      </div>
    </div>

  </div>
</div>